
@model IEnumerable<CompanyVModel>

@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Dashboard.cshtml";
    // ViewData["title"] = "Profile";

}



<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>جهات العمل  </h6>
            </div>

            <form role="form" asp-action="Details" method="get" enctype="multipart/form-data" style="display: inline;">
                <input type="text" name="searchContent" />

                <button type="submit" class="btn bg-gradient-info font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Search">
                    بحث
                </button>
            </form>

            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">الرقم</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">اسم الموؤسسة</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> المسمى الوظيفي</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> حول الوظيفة</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> من تاريخ  </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">  الى تاريخ </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> حول الموؤسسة</th>
                                <th class="text-secondary opacity-7">التعديل</th>
                                <th class="text-secondary opacity-7">الحذف</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var company in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="~/assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@company.Name</h6>
                                                <p class="text-xs text-secondary mb-0">@company.Id</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@company.Name</p>
                                        <p class="text-xs text-secondary mb-0">@company.Name</p>
                                    </td>

                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@company.Position</p>
                                        <p class="text-xs text-secondary mb-0">@company.Position</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@company.AboutJob</p>
                                        <p class="text-xs text-secondary mb-0">@company.AboutJob</p>
                                    </td>

                                    
                                    <td class="align-middle text-center text-sm">
                                     @*    @if (company.Isactive == true)
                                        {
                                            <span class="badge badge-sm bg-gradient-success">Online</span>

                                        }
                                        else
                                        {
                                            <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                                        }
 *@
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@company.StartDate</p>
                                        <p class="text-xs text-secondary mb-0">@company.StartDate</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@company.EndDate</p>
                                        <p class="text-xs text-secondary mb-0">@company.EndDate</p>
                                    </td>

                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@company.About</p>
                                        <p class="text-xs text-secondary mb-0">@company.About</p>
                                    </td>

                                    <td class="align-middle">
                                        <a href=@Url.Action("Edit","Company",new{company.Id}) class="btn bg-gradient-faded-info font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit">
                                            تعديل
                                        </a>
                                    </td>
                                    <td class="align-content-lg-center">
                                        <form role="form" asp-action="Delete" method="delete" style="display: inline;">
                                            <input type="hidden" name="id" value="@company.Id" />
                                            <button type="submit" class="btn bg-gradient-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete">
                                                حذف
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


